In [12]:
import sqlite3
import pandas as pd

In [13]:
conn = sqlite3.connect("sql_exercise.db")

In [14]:
df_excel = pd.read_excel("dataset_pruebaTecnica___.xlsx", sheet_name=None, engine='openpyxl')

In [18]:
df_excel["client_dim"]

,client_id,cl_web_id,cl_name,email
0,16,7b26c53b-b2b8-4a54-a760-faea3fe64f27,client1,email36@gmail.com
1,17,4794ce00-5a71-486a-b59a-89b628bd7597,client2,email440@gmail.com
2,18,0e22b5d7-99fa-40f1-bc0a-2dde670c5f7a,client3,email688@gmail.com
3,19,,client4,email745@gmail.com
4,20,,client5,email223@gmail.com
...,...,...,...,...
987,1142,f4de1d9b-9a07-42cb-b8be-193586f62397,client988,email82@gmail.com
988,1143,c9cde543-a744-4b22-ac13-a8268fdcf58c,client989,email84@gmail.com
989,1144,6152427e-eb6d-4dca-8f69-4164fda3a4da,client990,email366@gmail.com
990,1145,22d4cbc5-e8c8-4235-8daa-f1aede68dec7,client991,email995@gmail.com
991,1146,cc230971-97c8-4407-8633-518df1ed58f1,client992,email18@gmail.com

In [5]:
cursor = conn.cursor()

In [22]:
query1 = """
SELECT DISTINCT cl.client_id, COUNT(*)
FROM client_dim cl
JOIN contracts_dims co ON cl.client_id = co.client_id
"""

In [ ]:
# query1 = """
# SELECT DISTINCT cl.client_id, COUNT(*)
# FROM client_dim cl
# JOIN contracts_dims co ON cl.client_id = co.client_id
# """

In [23]:
pd.read_sql_query(query1, conn)

DatabaseError: Execution failed on sql '
SELECT df_excel["client_dim"].client_id, COUNT(*)
FROM df_excel["client_dim"]
JOIN df_excel["contracts_dim"] co ON df_excel["client_dim"].client_id = df_excel["contracts_dim"].client_id
': near ".": syntax error