# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [504]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [505]:
data = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", delimiter="\t")

### Step 3. Assign it to a variable called chipo.

In [506]:
chipo = data

### Step 4. See the first 10 entries

In [507]:
chipo[:10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [508]:
len(chipo)

4622

In [509]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [510]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [511]:
for x in chipo.columns:
    print(x)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [512]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [532]:
chipo_grouped = chipo.groupby("item_name").sum()

chipo_max=chipo_grouped.sort_values(["quantity"]).tail(1) 
print(chipo_max)
print("----------")
print(chipo_max.index)

              order_id  quantity  item_price
item_name
Chicken Bowl    713926       761     7342.73
----------
Index(['Chicken Bowl'], dtype='object', name='item_name')

### Step 10. For the most-ordered item, how many items were ordered?

In [224]:
chipo_max.iloc[0,1]

761

### Step 11. What was the most ordered item in the choice_description column?

In [178]:
chipo_desc_grouped = chipo.groupby("choice_description").sum()

chipo_desc_max= chipo_desc_grouped.sort_values("quantity").tail(1)

chipo_desc_max

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [179]:
chipo["quantity"].sum()

4972

### Step 13. Turn the item price into a float

In [514]:
chipo["item_price"]= chipo["item_price"].astype("float64")

ValueError: could not convert string to float: '$2.39 '

#### Step 13.a. Check the item price type

In [515]:
chipo["item_price"].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [516]:
flo=lambda df: df.astype("float64")

chipo["item_price"]=flo(chipo["item_price"].str.lstrip("$"))

#### Step 13.c. Check the item price type

In [518]:
chipo["item_price"].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [488]:
revenue=sum(chipo["item_price"]*chipo["quantity"])
print("Revenue was:","$"+str(round(revenue,2)))

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [526]:

orders=len(chipo.groupby("order_id"))

orders

1834

### Step 16. What is the average revenue amount per order?

In [528]:
# Solution 1
print("Average revenue per order:","$"+str(round(revenue/orders,2)))

Average revenue per order: $21.39

In [183]:
# Solution 2

### Step 17. How many different items are sold?

In [529]:

items=len(chipo.groupby("item_name"))
    

print("Number of different items sold:", items)

Number of different items sold: 50