# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [6]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [7]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')  
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [8]:
result = chipo.head(10) #si ponemos tail en vez de head son los 10 ultimos
result

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [9]:
#Diferencia entre loc e iloc es que iloc es sin incluir y loc incluye
chipo.loc[:10] #Loc incluye el 10

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45

In [10]:
chipo.iloc[:10] #iloc no incluye el Ã­ndice 10

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [11]:
# Solution 1

In [12]:
#Intento 1
total_rows = len(chipo.axes[0]) - 5 #Son los nombres de las columnas order_id, quantity, item_name, choice_description, item_price
total_cols = len(chipo.axes[1])

total = total_rows + total_cols
print(total)

4622

In [13]:
#Intento 2
len(chipo)

4622

In [14]:
chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [15]:
chipo.count().max() #count no cuenta los nulos NaN y tienes que coger el mÃ¡ximo

4622

In [16]:
chipo.shape #Te da los datos y las columnas que hay

(4622, 5)

In [17]:
# Solution 2

In [18]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

5

In [19]:
total_cols = len(chipo.axes[1])
total_cols

5

In [20]:
chipo.shape

(4622, 5)

In [21]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

In [22]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [23]:
list(chipo.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

RangeIndex(start=0, stop=4622, step=1)

In [24]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [25]:
#Intento 1
print(chipo.groupby(['item_name'])['item_name'].agg(['count']))

                                       count
item_name
6 Pack Soft Drink                         54
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            162
Bowl                                       2
Burrito                                    6
Canned Soda                              104
Canned Soft Drink                        301
Carnitas Bowl                             68
Carnitas Burrito                          59
Carnitas Crispy Tacos                      7
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             726
Chicken Burrito                          553
Chicken Crispy Tacos                      47
Chicken Salad                              9
Chicken Salad Bowl                       110
Chicken Soft Tacos                       115
Chips                                    211
Chips and Fresh Tomato Salsa             110
Chips and Guacamole                      479
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        22
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     43
Chips and Tomatillo Red Chili Salsa       48
Chips and Tomatillo-Green Chili Salsa     31
Chips and Tomatillo-Red Chili Salsa       20
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          27
Salad                                      2
Side of Chips                            101
Steak Bowl                               211
Steak Burrito                            368
Steak Crispy Tacos                        35
Steak Salad                                4
Steak Salad Bowl                          29
Steak Soft Tacos                          55
Veggie Bowl                               85
Veggie Burrito                            95
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          7

In [26]:
#Intento 2
print(chipo.groupby(["item_name"]).size().reset_index(name="Count").sort_values(by="Count", ascending=False))

                                item_name  Count
17                           Chicken Bowl    726
18                        Chicken Burrito    553
25                    Chips and Guacamole    479
39                          Steak Burrito    368
10                      Canned Soft Drink    301
38                             Steak Bowl    211
23                                  Chips    211
6                           Bottled Water    162
22                     Chicken Soft Tacos    115
21                     Chicken Salad Bowl    110
24           Chips and Fresh Tomato Salsa    110
9                             Canned Soda    104
37                          Side of Chips    101
45                         Veggie Burrito     95
2                        Barbacoa Burrito     91
44                            Veggie Bowl     85
11                          Carnitas Bowl     68
1                           Barbacoa Bowl     66
12                       Carnitas Burrito     59
43                       Steak Soft Tacos     55
0                       6 Pack Soft Drink     54
30    Chips and Tomatillo Red Chili Salsa     48
19                   Chicken Crispy Tacos     47
29  Chips and Tomatillo Green Chili Salsa     43
16                    Carnitas Soft Tacos     40
40                     Steak Crispy Tacos     35
31  Chips and Tomatillo-Green Chili Salsa     31
42                       Steak Salad Bowl     29
35                       Nantucket Nectar     27
5                     Barbacoa Soft Tacos     25
27     Chips and Roasted Chili Corn Salsa     22
32    Chips and Tomatillo-Red Chili Salsa     20
34                                   Izze     20
48                      Veggie Salad Bowl     18
28     Chips and Roasted Chili-Corn Salsa     18
3                   Barbacoa Crispy Tacos     11
4                     Barbacoa Salad Bowl     10
20                          Chicken Salad      9
13                  Carnitas Crispy Tacos      7
49                      Veggie Soft Tacos      7
8                                 Burrito      6
47                           Veggie Salad      6
15                    Carnitas Salad Bowl      6
41                            Steak Salad      4
7                                    Bowl      2
36                                  Salad      2
33                           Crispy Tacos      2
26      Chips and Mild Fresh Tomato Salsa      1
14                         Carnitas Salad      1
46                    Veggie Crispy Tacos      1

In [27]:
#Intento 3
chipo1 = chipo.groupby(["item_name"]).size().reset_index(name="Count").sort_values(by="Count", ascending=False)
chipo1.iloc[0]

item_name    Chicken Bowl
Count                 726
Name: 17, dtype: object

In [28]:
#Intento 4
chipo1 = chipo.groupby(["item_name"]).sum()
#chipo1.sort_values('quantity').tail(1)
chipo1

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [29]:
#Respuesta 
chipo.groupby('item_name').sum() #AsÃ­ nos suma las cantidades 
chipo.groupby('item_name').sum().sort_values("quantity") #AsÃ­ ordena por quantity
chipo.groupby('item_name').sum().sort_values("quantity", ascending = False) #AsÃ­ ordena de forma descendiente
chipo.groupby('item_name').sum().sort_values("quantity", ascending = False).head(1) #AsÃ­ coge el primero mÃ¡s alto

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [30]:
chipo.groupby('item_name').count().sort_values("order_id", ascending=False).head(1)

              order_id  quantity  choice_description  item_price
item_name
Chicken Bowl       726       726                 726         726

In [31]:
#Hacer lo mismo ya que el mÃ¡s pedido te da cuantas veces se pidieron
chipo.groupby('item_name').sum() #AsÃ­ nos suma las cantidades 
chipo.groupby('item_name').sum().sort_values("quantity") #AsÃ­ ordena por quantity
chipo.groupby('item_name').sum().sort_values("quantity", ascending = False) #AsÃ­ ordena de forma descendiente
chipo.groupby('item_name').sum().sort_values("quantity", ascending = False).head(1) #AsÃ­ coge el primero mÃ¡s alto

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [32]:
#Intento 1
chipo1 = chipo.groupby(["choice_description"]).size().reset_index(name="Count").sort_values(by="Count", ascending=False)
chipo1.iloc[0]

choice_description    [Diet Coke]
Count                         134
Name: 15, dtype: object

In [36]:
#Agrupar todas las nÃºmericas y sumar las cantidades
chipo.groupby(["choice_description"]).sum()#Esto ya nos da todas las descripciones y las cantidades sumadas
chipo.groupby(["choice_description"]).sum().sort_values("quantity") #Esto lo va a ordenar
chipo.groupby(["choice_description"]).sum().sort_values("quantity").tail(1) #Esto coge el Ãºltimo

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

4972

In [35]:
#Intento 1
chipo.sum(axis = 1, skipna = True)

0          2
1          2
2          2
3          2
4          4
        ...
4617    1834
4618    1834
4619    1835
4620    1835
4621    1835
Length: 4622, dtype: int64

In [38]:
#Intento 2
Total = chipo['quantity'].sum()
Total

4972

In [37]:
chipo.quantity.sum() #Otra forma de hacerlo, al ser solo una columna se puede poner asÃ­

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

dtype('O')

In [39]:
chipo["item_price"].dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [41]:
chipo["item_price"].values

array(['$2.39 ', '$3.39 ', '$3.39 ', ..., '$11.25 ', '$8.75 ', '$8.75 '],
      dtype=object)

In [47]:
#Creamos una columna nueva con el cambio que vamos a hacer
#Apply aplica una funciÃ³n a todos los elementos de la columna en la que se estÃ¡ haciendo el apply

#De forma no anÃ³nima con y sin lambda

def remove_dollar(x):
    return float(x[1:]) #Transforma el elemento desde el primero hasta el final y lo transforma en float

chipo["item_price_float"] = chipo["item_price"].apply(remove_dollar)
chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_float
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [46]:
chipo["item_price_float"] = chipo["item_price"].apply(lambda x:float(x[1:]))
chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_float
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [49]:
#Con replace

chipo["item_price_float_replace"] = chipo["item_price"].str.replace("$", "").astype(float)
chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_float,item_price_float_replace
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,16.98
...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75

#### Step 13.c. Check the item price type

dtype('float64')

In [51]:
chipo["item_price_float_replace"].dtypes

dtype('float64')

In [53]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  4622 non-null   int64
 1   quantity                  4622 non-null   int64
 2   item_name                 4622 non-null   object
 3   choice_description        3376 non-null   object
 4   item_price                4622 non-null   object
 5   item_price_float          4622 non-null   float64
 6   item_price_float_replace  4622 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 252.9+ KB

### Step 14. How much was the revenue for the period in the dataset?

Revenue was: $39237.02

In [55]:
#hacer una mÃ¡scara que es como un filtro para comprobar si el precio es por una o por varias cantidades
chipo[chipo["item_name"] == "Chicken Bowl"]

,order_id,quantity,item_name,choice_description,item_price,item_price_float,item_price_float_replace
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98,10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75,8.75,8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49,8.49,8.49
...,...,...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25,11.25,11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75,8.75,8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75,8.75,8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75,8.75,8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75,8.75

In [54]:
chipo["item_price_float_replace"].sum()

34500.16

In [57]:
for pos, x in enumerate (chipo["item_name"]):
    if x == "Chicken Bowl":
        print(x)
        print(chipo["item_price"][pos])
        print("-----------------")

--------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$21.96
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$21.96
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$17.50
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$16.98
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$22.50
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$21.96
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$16.98
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$16.98
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.19
-----------------
Chicken Bowl
$10.58
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$21.96
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$16.98
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.19
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$16.98
-----------------
Chicken Bowl
$21.96
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$17.50
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$21.96
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$16.98
-----------------
Chicken Bowl
$16.98
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$16.98
-----------------
Chicken Bowl
$8.19
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$21.96
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$16.98
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$10.98
-----------------
Chicken Bowl
$8.49
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.50
-----------------
Chicken Bowl
$8.50
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$22.50
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$17.50
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$11.25
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------
Chicken Bowl
$8.75
-----------------

In [59]:
#Sin aÃ±adir el quantity en item price

chipo["item_price_total"] = chipo["item_price_float_replace"] * chipo ["quantity"]
chipo["item_price_total"].sum()

39237.02

### Step 15. How many orders were made in the period?

1834

In [60]:
chipo["order_id"].max()

1834

### Step 16. What is the average revenue amount per order?

In [31]:
# Solution 1

21.394231188658654

In [61]:
chipo.item_price_total.sum() / chipo.order_id.max()

21.39423118865867

In [32]:
# Solution 2

21.394231188658654

### Step 17. How many different items are sold?

50

In [62]:
len(chipo.groupby("item_name").count().index) #Estan agrupados por item name todos los productos y va a aparecer un indice por cada producto. Por tanto cogemos el Ã­ndice y sacamos su tamaÃ±o

50

In [64]:
chipo.item_name.nunique()

50

In [65]:
chipo.item_name.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)