# Python | day 2 | collections

List, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp
    
    Thanks Antonio!

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 
    - 4 differents lists containing the names of the classmates sitting on each table of the class plus the ones following the class on remote.  
    
If you're not in class anymore and you don't remember how the class was distributed, use the names of your classmates and make 4 different lists with them.

Print both created lists.

In [89]:
#Intento 1
student_list = ["Ariadna", "Javier_O", "Leonardo", "María", "Miguel", "Alex", "Alfonso", "Anais", "Antonio", "Daniel", "Estela", "Javier_G", "María_del_Mar", "María_Angeles", "Marta", "Roberto", "Miguel_M", "Juan", "Kapil", "Leonardo"]
student_list.sort()
print(student_list)

line_1 = ["Juan", "María Angeles", "Miguel_M", ]
line_2 = ["Estela", "María",  "Leonardo","Daniel","Marta"]
line_3 = ["Miguel", "Alfonso", "Roberto", "Kapil"]
remote = ["Alex", "Anais", "Antonio", "Ariadna", "Javier_G", "Javier_O", "María_del_Mar"]

print(line_1)
print(line_2)
print(line_3)
print(remote)

['Alex', 'Alfonso', 'Anais', 'Antonio', 'Ariadna', 'Daniel', 'Estela', 'Javier_G', 'Javier_O', 'Juan', 'Kapil', 'Leonardo', 'Leonardo', 'Marta', 'María', 'María_Angeles', 'María_del_Mar', 'Miguel', 'Miguel_M', 'Roberto']
['Juan', 'María Angeles', 'Miguel_M']
['Estela', 'María', 'Leonardo', 'Daniel', 'Marta']
['Miguel', 'Alfonso', 'Roberto', 'Kapil']
['Alex', 'Anais', 'Antonio', 'Ariadna', 'Javier_G', 'Javier_O', 'María_del_Mar']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [75]:
#Intento 1
empty_list = []
empty_list

[]

2. Create a list with 5 items, call it **my_list**

In [40]:
#Intento 1
my_list = [8, 24, "javier", "rosa", 4.0]

3. Find the length of **my_list**

In [41]:
#Intento 1
print(len(my_list))

5

4. Get the first item, the middle item and the last item of **my_list**

In [42]:
#Intento 1
print(my_list[0])
print(my_list[2])
(my_list[-1])

8
javier

4.0

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [43]:
#Intento 1
name = "maria"
age = 26
height = 1.58
country = "Spain"
python_version = 3.9

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [44]:
#Intento 1
mixed_data_types = [name, age, height, country, python_version]
print(mixed_data_types)

['maria', 26, 1.58, 'Spain', 3.9]

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [45]:
#Intento 1
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']


8. Print **it_companies** using print()

In [46]:
#Intento 1
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [47]:
#Intento 1
print(len(it_companies))

7

11. Print *Google*

In [48]:
#Intento 1
print(it_companies[1])

Google

10. Print the first, middle and last company

In [49]:
#Intento 1
print(it_companies[0])
print(it_companies[3])
print(it_companies[-1])

Facebook
Apple
Amazon

11. Assign a new value to the last element of the list

In [50]:
#Intento 1
it_companies[-1] = "Lenovo"

12. Print the list after modifying one of the companies

In [51]:
#Intento 1
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Lenovo']

## Bonus track.

13. Add an IT company to **it_companies**

In [52]:
#Intento 1
it_companies.append("Asus")
it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Lenovo', 'Asus']

14. Check if *Apple* exists in the **it_companies** list.

In [53]:
#Intento 1
"Apple" in it_companies

True

15. Sort the list using `sort()` method

In [54]:
#Intento 1
it_companies.sort()
it_companies

['Apple', 'Asus', 'Facebook', 'Google', 'IBM', 'Lenovo', 'Microsoft', 'Oracle']

16. Reverse the list in descending order using `reverse()` method

In [55]:
#Intento 1
it_companies.reverse()
it_companies

['Oracle', 'Microsoft', 'Lenovo', 'IBM', 'Google', 'Facebook', 'Asus', 'Apple']

17. Slice out the first 3 companies from the list

In [56]:
#Intento 1
it_companies[3:]

['IBM', 'Google', 'Facebook', 'Asus', 'Apple']

18. Remove the last IT company from the list

In [57]:
#Intento 1
it_companies.remove("Apple")
it_companies

['Oracle', 'Microsoft', 'Lenovo', 'IBM', 'Google', 'Facebook', 'Asus']

19. Remove all IT companies from the list

In [58]:
#Intento 1
it_companies.remove("Oracle")
it_companies.remove("Microsoft")
it_companies.remove("Lenovo")
it_companies.remove("IBM")
it_companies.remove("Google")
it_companies.remove("Facebook")
it_companies.remove("Asus")
it_companies

[]

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [59]:
#Intento 1
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

end = front_end + back_end
end

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [60]:
#Intento 1
print(end[0][0])

HTML

22. From the end list print the 'C' from the word 'CSS'

In [61]:
#Intento 1
print(end[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [62]:
#Intento 1
tup =  ("T", )
tup

('T',)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [65]:
#Intento 1
print(type(tup))

<class 'tuple'>

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [ ]:
#No se puede añadir porque la tupla no es mutable.

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [70]:
#No se puede cambiar directamente porque no es mutable, pero se puede modificar cambiando la tupla a lista y luego a tupla de nuevo.

#Intento 1
tup = list(tup)
print(type(tup))
tup[0] = "x"
print(tup)
tup = tuple(tup)
print(tup)

<class 'list'>
['x']
('x',)

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [72]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

#Intento 1
my_set = set(lista_repes)
my_set

{'clara', 'data', 'diomedes', 'gabriel', 'python', 'science'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [73]:
#Intento 1
print(my_set[0])

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [74]:
#Intento 1
my_set = list(my_set)
print(my_set[0])

clara